{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }
        
        .location-text {
            text-align: center;
        }
        
        th {
            background: #C0C0C0;
            color: black;
        }

        #community-top-spacer {
            height: 25px;
        }
    </style>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="community-top-spacer">&nbsp;</div>

        <div class="row">
            <div class="col-md-8">
                <div class="twothirds_div">
                    <h1>Community</h1>
                    <div class="container">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Points</th>
                                    <th>Tier</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in five_recent_users %}
                                <tr>
                                    <td><a data-toggle="modal" data-target="#locationModal" data-location="{{ user.location }}">{{ user.display_name }}</a></td>
                                    <td>{{ user.point_balance }}</td>
                                    <td>{{ user.tier }}</td>
                                    <td>{% if user.phone_numbers != None %}
                                            {% set numbers = user.phone_numbers.split(',') %}
                                            {% for num in numbers %}
                                                {{ num }} <br/>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="locationModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Location</h4>
                </div>
            <div class="modal-body">
                <div class="location-text"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <script>
        $('#locationModal').on('show.bs.modal', function (e) {
            var location = $(e.relatedTarget).data('location')
            $(e.currentTarget).find('.location-text').text(location)            
        })
    </script>

{% endblock %}
